@page "/Employee/Edit/{id:int}"
@inject IService<Employee> EmpService

<h3>EditEmployeeComponent</h3>
@if (EmpObj != null)
{
    if (ISvalid == false)
    {
        <div>Invalid Employee</div>
    }
    <!--Model Edit input-->
    <EditForm Model="EmpObj" OnValidSubmit="SaveData" OnInvalidSubmit="InvalidMethod">
        <!--Support Validation-->
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div>
            <label>Name</label>
            <InputText class="form form-control" @bind-Value="EmpObj.Name"></InputText>
            <ValidationMessage For="()=>EmpObj.Name"></ValidationMessage>
        </div>
        <div>
            <label>Salary</label>
            <InputNumber class="form form-control" @bind-Value="EmpObj.Salary"></InputNumber>
            <ValidationMessage For="()=>EmpObj.Salary"></ValidationMessage>
        </div>
        <div>
            <label>Image</label>
            <InputText class="form form-control" @bind-Value="EmpObj.ImagURl"></InputText>
            <ValidationMessage For="()=>EmpObj.ImagURl"></ValidationMessage>
        </div>
        <div>
            <label>Department</label>
            <InputSelect class="form form-control" @bind-Value="EmpObj.Dept_Id">
                @foreach (var deptItem in DeptList)
                {   
                    <option value="@deptItem.Id">@deptItem.Name</option>
                }

            </InputSelect>
            <ValidationMessage For="()=>EmpObj.Dept_Id"></ValidationMessage>
        </div>
        <input type="submit" class="btn btn-success" value="Save" />
    </EditForm>
    <h3>@EmpObj.Name - @EmpObj.Salary - @EmpObj.Dept_Id</h3>
}
else
{
    <h1>Wait .. or Invalid Id</h1>
}
<a href="/Employees">Back To List</a>

